# {{ansible_managed}}

SECRET_KEY = 'UNSAFE_DEFAULT'
#ALLOWED_HOSTS = [ '*' ]
#TIME_ZONE = ''
#DEBUG = True
DEFAULT_XFILES_FACTOR = 0
#URL_PREFIX = '/graphite'

#DATABASES = {
#    'default': {
#        'NAME': '/opt/graphite/storage/graphite.db',
#        'ENGINE': 'django.db.backends.sqlite3',
#        'USER': '',
#        'PASSWORD': '',
#        'HOST': '',
#        'PORT': ''
#    }
#}
